.home-container{
   
    display: flex;
    
}


.image-container{
    height: 100vh;
    background-image: url('https://res.cloudinary.com/sushwakekar/image/upload/v1706097029/Fincity/bgImage_g8qgp1.jpg');
    background-size: cover;
    width: 50vw;
    
    
}   
@media screen and (max-width: 767px) {
    .home-container{
        flex-direction: column;
        
    }

    .image-container{
        display: none;
    }

    .info-container{
        width: 100vw;
       height: 50vh;
    }
    
}

.info-container{
    width: 50vw;
    height: 100vh;  
}

.details-container{
    height: 408px;
    width: 486px;
    padding: 20px;
    margin: 20px;
}

.name-text{
    font-size: 64px;
    font-family: 'Playfair Display';
    font-weight: 700;
}

.designation-text{
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: 700;
    color: #FDC435;
}

.about-text{
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 400;
    color: #828282;
}

.btn1{
    background-color: #FDC435;
    height: 43px;
    width: 115px;
    border-radius: 8px;
    border: 0 ;
    padding: 8px, 24px, 8px, 24px;
}

.btn2{
    background-color: #fff;
    height: 43px;
    width: 117px;
    border-radius: 8px;
    border: 2px solid #25282B ;
    padding: 8px, 24px, 8px, 24px;
    margin-left: 20px;
}
